@model IEnumerable<ToDoList_DomainModel.ViewModels.ToDoListViewModel>


<h1>Your To Do Lists</h1>

<p>
    <a class="button" asp-controller="Home" asp-action="Create">Add new List</a>
</p>

@foreach (var list in Model)
{
    <partial name="ListSummary" model="list"/>
}