@model IEnumerable<ToDoList_netaspmvc.Models.Record>

@{
    ViewData["Title"] = "List";
    int id = (int)ViewData["ListID"];
    bool listExists = (bool)ViewData["ListExists"];
}

<h1>@ViewData["ListName"]</h1>

<p>
    @{
        if ((Model.Count() == 0 || Model == null) && listExists)
        {
                <h2>There are currently no records in a list. You can add them by clicking the button below</h2>
        }
    }
    @{
        if (listExists)
        {
            <a asp-controller="List" asp-action="Create" asp-route-id="@id">Add new record to a list</a>
        }
    }
</p>

@foreach (var record in Model)
{
    <partial name="RecordSummary" model="record" />
}

